@use "../themes/defaultTheme" as *;
@use "../util/variables" as *;
@use "../util/mixins" as *;

.searchbar {
	@include flex-center;
	.bar-container {
		@include box(clamp(23rem, 33rem, 40rem), 2.75rem);
		background-color: $white;
		border: 0.275rem solid $grey-3;
		border-radius: 1.55rem;
		display: flex;
		justify-content: space-between;
		padding: {
			right: 1rem;
			left: 1rem;
		}
		& > * {
			padding: {
				right: 0.65rem;
				left: 0.65rem;
			}
		}
		input {
			width: 100%;
		}
	}
}
